* {
    font-family: "Brush Script MT", cursive, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none;     /* IE/Edge เก่า */
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden !important;         
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(48, 12%, 84%);
    position: fixed;
}

.circle {
    position : absolute;
    top: -20vw;
    left: -10vw;
    width: 50vw;
    height: 40vw;
    background: rgb(252, 0, 138);
    border-radius: 50%;
    filter: blur(35vw);
    z-index: -5
}
.circle2 {
    position : absolute;
    top: 100vw;
    right: -10vw;
    width: 50vw;
    height: 40vw;
    background: rgb(252, 0, 138);
    border-radius: 50%;
    filter: blur(40vw);
    z-index: -5
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(3vw);
    }
    100% {
        transform: translateY(0);
    }
}

#topText {
    position: absolute;
    top: 20vh;
    font-size: 10vw;
    color: hsl(334, 51%, 19%);
    z-index: 0;
    animation: fadeIn 2s ease forwards;
}

#topText.animate {
    animation: fadeOut 1s ease forwards;
}

/* สไตล์ซองจดหมายและจดหมาย */
 
.wrapper {
    height: 35vw;
    width: 50vw;
    background-color: hsl(0, 0%, 88%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    box-shadow: 0 5px 50px 20px hsl(0, 0%, 0%, 0.1);
    animation: floating 4s ease-in-out infinite;

}

.letter {
    position: absolute;
    width: 20vw;
    height: 26vw;
    background-color: hsl(0, 0%, 100%);
    pointer-events: none;
    z-index: 2;
}

.letter pre{
    padding: 0.5vw;
    font-size: 1.5vw;
}

.envelope {
    position: absolute;
    width: 45vw;
    height: 35vw;
    top: 0;
    left: 0;
    border-top: 18vw solid transparent;
    border-right: 25vw solid hsl(0, 0%, 91%);
    border-bottom: 17.5vw solid hsl(0, 0%, 91%);
    border-left: 25vw solid hsl(0, 0%, 95%);
    z-index: 3;
    cursor: pointer;
}

.pap {
    position: absolute;
    height: 35vw;
    width: 45vw;
    top: 0;
    left: 0;
    border-right: 25vw solid transparent;
    border-bottom: 20vw transparent;
    border-left: 25vw solid transparent;
    transform-origin: top;
}

.pap.one {
    border-top: 18vw solid hsl(0, 0%, 88%);
    transform: rotateX(0deg);
    z-index: 3;
}

.pap.two {
    border-top: 18vw solid hsl(0, 0%, 88%);
    transform: rotateX(90deg);
}

@keyframes pop {
  from {
    transform: scale(1);
  } to {
    transform: scale(1.5);
  }
}

@keyframes out {
  0% {
    transform: translateY(0);
    transform: scale(1)
  } 50% {
    transform: translateY(-17vh);
  } 100% {
    transform: translateY(0vh);
    transform: scale(2.5);
    z-index: 5;
  }
}

.wrapper.active .pap.one {
    transform: rotateX(90deg);
    transition: all 0.1s ease-in-out;
    transition-delay: 0s;
}

.wrapper.active .pap.two {
    transform: rotateX(180deg);
    transition: all 0.5s ease-in-out;
    transition-delay: 0s;
}

.wrapper.active {
    animation: pop 0.5s ease forwards;
    pointer-events: none;
}

.wrapper.active .letter{
    animation: out 1.5s ease forwards;
    pointer-events: none;
}

/* ข้อความ */

#text {
    opacity: 0;
    position: absolute;
    top: 75vh;
    font-size: 7vw;
    color: hsl(334, 51%, 19%);
    animation: fadeUp 1.5s ease forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(20vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
    opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes changeText {
    0% {
    opacity: 1;
    transform: translateY(0);
  } 50% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

#text.animate {
    animation: changeText 1s ease forwards;
}

/* ปุ่ม Continue */

#continue {
    opacity: 0;
    position: absolute;
    top: 85vh;
    font-size: 5vw;
    padding: 2vw 3vw;
    border: none;
    border-radius: 1vw;
    background-color: hsl(347, 73%, 18%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#continue.animate {
    opacity: 1;
    transition: all 1.5s ease;
}

@keyframes slideOut {
    from {
        transform: translateX(0) rotate(0);
    }
    to {
        transform: translateX(-105vw) rotate(-20deg);
    }
}

.scene.slideOut {
    animation: slideOut 1s ease forwards;
}

.scene.slideOut ~ #text {
    animation: fadeOut 1s ease forwards;
}

.scene.slideOut ~ #continue {
    animation: fadeOut 1s ease forwards;
}

/* scene two */

.roses {
    position: absolute;
    top: 100vh;
    left: 6vh;
    opacity: 1;
}

@keyframes riseUp {
    to {
        transform: translateY(-70vh);
        opacity: 1;
        z-index: 5;
    }
}

.roses.animate {
    animation: riseUp 1s ease forwards;
    animation-delay: 0.5s;
}


#text2 {
    opacity: 0;
    position: absolute;
    top: 80vh;
    font-size: 10vw;
    color: hsl(334, 51%, 19%);
    
}

#text2.animate {
    animation: fadeUp 1.5s ease forwards;
    animation-delay: 0.7s;
}


#img1 {
    position: absolute;
    left: -70vw;
    top: -35vw;
    z-index: -1;
}

#img2 {
    position: absolute;
    left: -45vw;
    top: 55vw;
    z-index: -1;
    width: 50vw;
}

#img3 {
    width: 65vw;
    position: absolute;
    right: -70vw;
    top: 5vw;
    z-index: -1;
}

#img4 {
    width: 50vw;
    position: absolute;
    right: -50vw;
    top: 100vw;
    z-index: -1;
}

#img1.animate {
    
    transform: translateX(50vw);
    transition: all 1s ease;
    transition-delay: 1.5s;
}

#img2.animate {
    
    transform: translateX(27vw);
    transition: all 1s ease;
    transition-delay: 1.5s;
}

#img3.animate {  
    transform: translateX(-50vw);
    transition: all 1s ease;
    transition-delay: 1.5s;
}

#img4.animate {
    transform: translateX(-39vw);
    transition: all 1s ease;
    transition-delay: 1.5s;
}

@media (min-width: 768px) {
    @keyframes pop {
        from {
            transform: scale(1);
        } to {
            transform: scale(1.2);
        }
    }

    @keyframes out {
        0% {
            transform: translateY(0);
            transform: scale(0.5)
        } 50% {
            transform: translateY(-17vh);
        } 100% {
            transform: translateY(0vh);
            transform: scale(2);
            z-index: 5;
        }
    }

    .roses {
        position: absolute;
        top: 100vh;
        left: 18vh;
        opacity: 1;
    }

    #rose {
        width: 50vw;
    }

    #img1 {
        position: absolute;
        left: -50vw;
        top: -15vw;
        z-index: -1;
    }

    #img2 {
        position: absolute;
        left: -45vw;
        top: 30vw;
        z-index: -1;
        width: 50vw;
    }

    #img3 {
        width: 55vw;
        position: absolute;
        right: -68vw;
        top: -5vw;
        z-index: -1;
    }

    #img4 {
        width: 50vw;
        position: absolute;
        right: -50vw;
        top: 47vw;
        z-index: -1;
    }
    #text2 {
        opacity: 0;
        position: absolute;
        top: 85vh;
        font-size: 10vw;
        color: hsl(334, 51%, 19%);
        
    }

    #text2 {
        opacity: 0;
        position: absolute;
        top: 75vh;
        font-size: 10vw;
        color: hsl(334, 51%, 19%);
        
    }

    #text2.animate {
        animation: fadeUp 1.5s ease forwards;
        animation-delay: 0.7s;
    }

}
